[submodule "vendor/toddcox"]
	path = vendor/toddcox
	url = https://github.com/JCRaymond/toddcox-faster.git
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = git://github.com/jbeder/yaml-cpp.git
[submodule "vendor/cgl"]
	path = vendor/cgl
	url = git://github.com/allemangD/cgl.git
[submodule "vendor/nanogui"]
	path = vendor/nanogui
	url = https://github.com/allemangD/nanogui
	branch = master
